
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1b1d21;
    color: #ffffff;
}

.logo {
    height: 60px;
}

header nav {
    background-color: #ff4655;
}

header .sidenav {
    background-color: #1b1d21;
}


.page-footer {
    background-color: #1b1d21;
}
.page-footer .material-icons {
    color: #ff4655;
}

.card {
    background-color: #2a2d34;
}

.card-title {
    color: #ff4655;
}
.card-content{
    text-align: justify;
}
.icon-small {
    width: 40px;
    vertical-align: middle;
}